// Define base font size
html {
  font-size: 14px;

  @include media-breakpoint-up(md) {
    // START: Tablet size
    font-size: 16px;
  }

  // END: Tablet size
}

body {
  @extend .font-style-regular;
}

// Headers font size
@each $head in map-keys($heads-font-sizes) {
  #{$head},.font-size-#{$head} {
    font-size: map-get($heads-font-sizes,#{$head});
    font-weight: 400;
    line-height: 1.2;
  }
}
