<div class="banner">
  <img src="../../../../assets/images/everest-banner1-1024x387.jpg">
  <div class="transparent-layer"></div>
  <div class="text">
    <div class="container">
      <div class="row flex-column m-0">
        <h1 class="font-size-h4-3x font-style-bold">
          Upcoming Events
        </h1>
        <ul>
          <li>
            <a href="#">
              {{'header.links.home'|translate}}
              <svg class="icon-size-xs mx-2">
                <use xlink:href="#icon-arrow" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
              </svg>
            </a>
          </li>
          <li>
            {{pageName}}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>



<!-- START: SVGs space -->
<svg display="none" xmlns="http://www.w3.org/2000/svg">
  <symbol id="icon-arrow" viewBox="0 0 7.981 14" xmlns="http://www.w3.org/2000/svg">
    <path class="aa" d="M7.693 7.693l-6.02 6.019a.98.98 0 0 1-1.386-1.386L5.613 7 .287 1.673A.981.981 0 1 1 1.674.287l6.02 6.02a.98.98 0 0 1 0 1.386z" fill="#fff"/>
  </symbol>
</svg>
<!-- END: SVGs space -->

